
.bg-gradient-primary {
    background-color: #505061;
}

.bg-navtop {
    background-color: #6A6F7C !important;
}

footer.sticky-footer {
    padding: 9px 0;
}

.messageErrorForm {
    font-size: 0.8em;
}

.form-control::-webkit-input-placeholder { color: #bdbec6; opacity: 1; }
.form-control::-moz-placeholder          { color: #bdbec6; opacity: 1; }
.form-control:-ms-input-placeholder      { color: #bdbec6; opacity: 1; }
.form-control::-ms-input-placeholder     { color: #bdbec6; opacity: 1; }
.form-control::placeholder               { color: #bdbec6; opacity: 1; }
.placeholder-text                        { color: #bdbec6; opacity: 1; }

/* ---------------------------------------------------------------------------------------------------------------------------------------------------
 * Colors: Badge & Infobox
 */

.badge-primary {
    color: #fff;
    background-color: #608AE6;
}

.badge-secondary {
    color: #fff;
    background-color: #9799A7;
}

/*
.badge.badge-env,
.badge.badge-level-all,
.badge.badge-level-emergency,
.badge.badge-level-alert,
.badge.badge-level-critical,
.badge.badge-level-error,
.badge.badge-level-warning,
.badge.badge-level-notice,
.badge.badge-level-info,
.badge.badge-level-debug,
.badge.empty { color: #FFF; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); }
.badge.badge-level-all, .box.level-all              { background-color: #D1D1D1; }
.badge.badge-level-emergency, .box.level-emergency  { background-color: #8A8A8A; }
.badge.badge-level-alert, .box.level-alert          { background-color: #B71C1C; }
.badge.badge-level-critical, .box.level-critical    { background-color: #D32F2F; }
.badge.badge-level-error, .box.level-error          { background-color: #F44336; }
.badge.badge-level-warning, .box.level-warning      { background-color: #FF5722; }
.badge.badge-level-notice, .box.level-notice        { background-color: #FF9100; }
.badge.badge-level-info, .box.level-info            { background-color: #4CAF50; }
.badge.badge-level-debug, .box.level-debug          { background-color: #90CAF9; }
.badge.empty, .box.empty { background-color: #D1D1D1; }
.badge.badge-env { background-color: #6A1B9A; }
*/


/* ---------------------------------------------------------------------------------------------------------------------------------------------------
 * Table
 */

.table thead th {
    vertical-align: bottom;
    border-top: 0;
    border-bottom: 1px solid #636374;
}

.table th, .table td {
    padding: 0.25rem;
    vertical-align: top;
    border-bottom: 1px solid #636374;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------
 * Boutons
 */

.btn-xs, .btn-group-xs > .btn {
    padding: 0.15rem 0.25rem;
    font-size: 0.700rem;
    line-height: 1.6;
    border-radius: 0.2rem;
}

.btn-xxs, .btn-group-xxs > .btn {
    padding: 0.10rem 0.20rem;
    font-size: 0.400rem;
    line-height: 1.6;
    border-radius: 0.2rem;
}

/* ------------------------------------------------------------ */

.btn-dark {
    color: #fff;
    background-color: #636374;
    border-color: #5a5c69;
}

.btn-dark:hover {
    color: #fff;
    background-color: #484a54;
    border-color: #42444e;
}

.btn-dark:focus, .btn-dark.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(115, 116, 128, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(115, 116, 128, 0.5);
}

/* ------------------------------------------------------------ */

.btn-outline-dark {
    color: #636374;
    border-color: #636374;
}

.btn-outline-dark:hover {
    color: #fff;
    background-color: #636374;
    border-color: #636374;
}

.btn-outline-dark:focus, .btn-outline-dark.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(90, 92, 105, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(90, 92, 105, 0.5);
}

/* ------------------------------------------------------------ */

.btn-outline-danger {
    color: #FF5131;
    border-color: #FF5131;
}

.btn-outline-danger:hover {
    color: #fff;
    background-color: #FF5131;
    border-color: #FF5131;
}

.btn-outline-danger:focus, .btn-outline-danger.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(231, 74, 59, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(231, 74, 59, 0.5);
}

/* ------------------------------------------------------------ */

.btn-outline-success {
    color: #00CF75;
    border-color: #00CF75;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #00CF75;
    border-color: #00CF75;
}

.btn-outline-success:focus, .btn-outline-success.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(28, 200, 138, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(28, 200, 138, 0.5);
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------
 *
 */

.custom-file-input-sm {
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(1.5em + 0.5rem + 2px);
    margin: 0;
    opacity: 0;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
}

.form-control-file-sm {
    height: calc(1.5em + 0.5rem + 2px);
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.alert-secondary-light {
    color: #9f9e9e;
}
